<a ui-sref="newbook" class="btn-primary btn-lg nodecoration">Add a new book</a>

<div>
<h1>All Books</h1>
</div>
<table height= "350px" class="table table-striped table-bordered" fixed-header >
<thead>
     <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
    </tr>
</thead>
    <tbody> 
    <tr ng-repeat="book in books" >
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>{{book.description}}</td>
    </tr>
   </tbody>
   <tfoot>
            <tr>
                <td> ***** </td>
                <td> ***** </td>
                <td> ***** </td>
              
            </tr>
        </tfoot>
</table>
